@model ExcluirCategoriaViewModel

<div class="container">
	<div class="row justify-content-center my-5">
		<div class="col-md-8">
			<div class="card card-form rounded-4 border-0">
				<div class="card-body p-md-5">
					<h3 class="text-center fw-bold">Formulário de Exclusão</h3>

					@if (ViewData.ModelState["CadastroUnico"]?.Errors.Count > 0)
					{
						<div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
							@ViewData.ModelState["CadastroUnico"]!.Errors.First().ErrorMessage
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					}

					<p class="mt-4 text-center">Você deseja realmente excluir a categoria "@Model.Titulo"?</p>
					<form asp-action="Excluir" asp-route-id="@Model.Id">
						<div class="form-group d-flex align-items-center justify-content-center gap-3 mt-4">
							<a role="button" href="/categorias" class="btn btn-secondary rounded-3 px-5" title="Voltar a página de categorias">Voltar</a>
							<button type="submit" class="btn btn-danger px-5" title="Excluir contato">Excluir</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}