@model VisualizarCategoriaViewModel

<div class="container">
    <div class="row gx-2 gy-2">

        <div class="col-12 col-md-6 col-lg-3">
            <a asp-action="cadastrar" class="card card-visualizar h-100 text-decoration-none" title="Cadastrar nova categoria">
                <div class="text-center card-body justify-content-center ">

                    <h5 class="fw-semibold card-title my-3">Cadastre novas categorias</h5>

                    <div class="card-cadastrar-icone-categoria">
                        <i class="bi bi-plus-circle"></i>
                    </div>

                </div>
            </a>
        </div>

        @foreach (var item in Model.Registros)
        {
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card card-visualizar ">
                    <div class="card-body">
                        <h5 class="card-title">Categoria</h5>
                        <p class="card-text"><span class="fw-semibold">Nome:</span> @item.Titulo</p>

                        <span class="d-flex gap-1 justify-content-end">
                            <a asp-action="detalhes" asp-route-id="@item.Id" class="btn btn-secondary" title="Detalhes">
                                <i class="bi bi-search"></i>
                            </a>

                            <a asp-action="editar" asp-route-id="@item.Id" class="btn btn-primary" title="Editar">
                                <i class="bi bi-pencil-square"></i>
                            </a>

                            <a asp-action="excluir" asp-route-id="@item.Id" class="btn btn-danger" title="Excluir">
                                <i class="bi bi-trash"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
