:root {
    --fundo: #E8E9F3;
    --fundo-card: #CECECE;
    --borda: #A6A6A8;
    --texto: #272635;
    --navbar: #172747;
}

body {
    background-color: var(--fundo);
    color: var(--texto);
    font-family: 'Nunito', Arial, sans-serif;
}

.main-content {
    width: calc(100% - 72px);
    margin-left: 72px;
    overflow: auto;
}

.sidebar {
    width: 72px;
    height: 100vh;
    background: var(--navbar);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .sidebar .nav-link {
        color: var(--fundo);
        font-size: 1.8rem;
        text-align: center;
        border-radius: 13px;
        margin: 0px 6px;
        padding: 6px;
    }

        .sidebar .nav-link.active, .sidebar .nav-link:hover {
            background: var(--borda);
            color: var(--texto);
        }

/* mobile */
.bottom-bar {
    background: var(--navbar);
    height: 62px;
}

    .bottom-bar .nav-link {
        color: var(--fundo);
        font-size: 1.6rem;
        text-align: center;
    }

        .bottom-bar .nav-link.active, .bottom-bar .nav-link:hover {
            color: var(--texto);
            background: var(--borda);
            border-radius: 13px;
        }

.custom-navbar {
    position: fixed;
    top: 0;
    left: 71px;
    width: calc(100% - 71px);
    z-index: 1040;
    background: var(--navbar);
    color: var(--texto);
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item {
    height: 260px;
}

.icones-main {
    font-size: 5rem;
    color: var(--navbar);
}

.card-visualizar {
    background-color: snow;
    color: var(--texto);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08), 0 1.5px 3px rgba(0,0,0,0.06);
}

.card-cadastrar-icone {
    font-size: 3rem
}

@media (max-width: 767.98px) {
    .custom-navbar {
        left: 0;
        width: 100%;
    }

    .main-content {
        width: 100%;
        margin-left: 0;
        margin-top: 66px;
        margin-bottom: 77px;
    }
}

@media (min-width: 768px) {
    .main-content {
        margin-top: 51px;
    }

    .carousel-item {
        height: 400px;
    }
}

@media (min-width: 1200px) {
    .carousel-item {
        height: 670px;
    }
}
